 <div class="modal-backdrop about-us-backdrop is-hidden">

      <div class="about-us-modal">

            <!-- button close -->
            <button class="close-button" type="button" title="Close button">
                <svg class="icon-x" viewBox="0 0 32 32">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="3.4286" d="M24 8l-16 16M8 8l16 16"></path>
                </svg>
            </button>
            
            <div class="about-us-div">
                
                <h2 class="about-us-h2">Developers</h2>
                
                <div class="about-us-list-div">
                    <ul class="about-us-list list">
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/olgaDzubak.jpg" alt="Olga Dzubak">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Ольга Дзюбак</h3>
                            <p class="about-us-item-text">Лідер команди (Team lead), backend</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/olgaSmieshko.jpg" alt="Olga Smieshko">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Смєшко Ольга</h3>
                            <p class="about-us-item-text">Скрам майстер. Frontend(header та footer)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/oleksandrSilka.jpg" alt="Oleksandr Silka">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Олександр Силка</h3>
                            <p class="about-us-item-text">Frontend (модальне вікно з описом книги і можливістю додати та видалити зі списку покупок)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/oksanaKomarnytska.jpg" alt="Oksana Komarnytska">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Оксана Комарницька</h3>
                            <p class="about-us-item-text">Frontend (cлайдер з переліком благодійних фондів)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/dimaChernyaev.jpg" alt="Dima Chernyaev">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Дмитро Черняєв</h3>
                            <p class="about-us-item-text">Frontend (секція з популярними книгами та Scroll up button)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/natalkaMyzika.jpg" alt="Natalka Myzika">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Наталія Музика</h3>
                            <p class="about-us-item-text">Frontend (cвітла та темна теми)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/maxSurzhko.jpg" alt="Max Surzhko">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Максим Суржко</h3>
                            <p class="about-us-item-text">Frontend (cписок покупок та пігінація)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/anastasiaOstrovskaya.jpg" alt="Anastasia Ostrovskaya">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Анастасія Островська</h3>
                            <p class="about-us-item-text">Frontend (модальне вікно з формою авторизації)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/vadymShatniy.jpg" alt="Vadym Shatniy">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Вадим Шатний</h3>
                            <p class="about-us-item-text">Frontend (секція з переліком усіх категорій та список книг відповідно до категорії)</p>
                        </div>
                    </li>
                    <li class="about-us-item">
                        <img class="about-us-item-img" src="/src/images/footer/vladSurzhko.jpg" alt="Vlad Surzhko">
                        <div class="about-us-description">
                            <h3 class="about-us-item-title">Влад Суржко</h3>
                            <p class="about-us-item-text">Список покупок та Pagination</p>
                        </div>
                    </li>
                    </ul> 
                </div>   

            </div>

      </div>
        
</div>