<div class="autorization-modal-backdrop is-hidden">
  
  <div class="modal">

    <form class="modalForm">
      
      <!-- close button -->
      <button class="close-button" type="button" title="Close button">
        <svg class="icon-x">
          <use href="/src/images/svg/sprite.svg#x-close-icon">a</use>
        </svg>
      </button>

      <ul class="modalForm-fields-list list">
        
        <li class="modalForm-field li-name">
          <label class="modalForm-label" for="name">
            <div class="modalForm-inputWrap">
              <input
                class="modalForm-input"
                type="text"
                name="name"
                id="name"
                placeholder="NAME"
                title="only letters, digits and symbols '. - _' are allowed."
                pattern ="^(([\w\.\-]+)([ ]{0,1}))*(([a-zA-Z]+)[0-9]*)$"
                minlength="3"
                maxlength="20"
                required                
              />
              <svg class="modalForm-icon name">
                <use href="/src/images/svg/sprite.svg#name_icon"></use>
              </svg>
            </div>
          </label>
        </li>

        <!-- email -->
        <li class="modalForm-field li-email">
          <label class="modalForm-label" for="email">
            <div class="modalForm-inputWrap">
              <input
                class="modalForm-input"
                type="email"
                name="email"
                id="email"
                placeholder="EMAIL"
                title="example@mail.com"
                pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"
                required   
                autofocus             
              />
              <svg class="modalForm-icon email">
                <use href="/src/images/svg/sprite.svg#mail_icon"></use>
              </svg>
            </div>
          </label>
        </li>

        <!-- password -->
        <li class="modalForm-field li-password">
          <label class="modalForm-label" for="password">
            <div class="modalForm-inputWrap">
              <input
                class="modalForm-input"
                type="password"
                name="password"
                id="password"
                placeholder="PASSWORD"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                autocomplete="off"
                required
              /><svg class="modalForm-icon password">
                <use href="/src/images/svg/sprite.svg#password_icon"></use>
              </svg>
            </div>
          </label>
        </li>

      </ul>

      <!-- buttons -->
      <div class="modalWrapper-btn">

        <button class="submitBtn" type="submit">SIGN UP</button>

        <ul class="btn-signUpIn-ul list">
          <li><button type="button" class="btn-sign-up current">SIGN UP</button></li>
          <li><button type="button" class="btn-sign-in">SIGN IN</button></li>              
        </ul>

      </div>

    </form>

  </div>

</div>
