
  <div class="book-modal-backdrop is-hidden">

    <div class="book-modal-container">

      <button type="button" class="btn-modal-close">
        <svg class="icon-x" width="24px" height="24px">
          <use href='/src/images/svg/sprite.svg#x-close-icon'></use>
        </svg>
      </button>

        <div class="image-and-content-div">

          <div class="book-img-div"></div>

          <div class="book-info">
            
            <p class="modal-name-book" id="name-book"></p>
            <p class="modal-author-book" id="author"></p>
            <p class="modal-description-book" id="description"></p>

            <ul class="market_placers_list list">
            </ul>

          </div>

        </div>

        <div class="btn-box">
          <button type="button" class="btn-shopping is-hidden add modal-text-light">ADD TO SHOPPING LIST</button>
          <button type="button" class="btn-shopping is-hidden remove modal-text-light">REMOVE FROM THE SHOPPING LIST</button>
          <p class="modal-message is-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
        </div>

    </div>

  </div>

