  <div class="book-modal-backdrop is-hidden">

    <div class="book-modal-container">

      <button type="button" class="close-button">
        <svg class="icon-x" viewBox="0 0 32 32">
          <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="3.4286" d="M24 8l-16 16M8 8l16 16"></path>
        </svg>

      </button>

        <div class="image-and-content-div">

          <div class="book-img-div"></div>

          <div class="book-info">
            
            <p class="modal-name-book" id="name-book"></p>
            <p class="modal-author-book" id="author"></p>
            <p class="modal-description-book" id="description"></p>

            <ul class="market_placers_list list">
            </ul>

          </div>

        </div>

        <div class="btn-box">
          <button type="button" class="btn-shopping is-hidden add modal-text-light">ADD TO SHOPPING LIST</button>
          <button type="button" class="btn-shopping is-hidden remove modal-text-light">REMOVE FROM THE SHOPPING LIST</button>
          <p class="modal-message is-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
        </div>

    </div>

  </div>

