<div class="mobile-menu is-hidden js-mobile-menu">
  <div class="mobile-menu-container container">
  
    <div class="user-login-and-navigation-div">
   
      <button class="user-login-mobile-btn link">Sign up<svg class="icon-arrow-right" width="20" height="20">
        <use href="/src/images/svg/sprite.svg#arrow_narrow_right_icon"></use></svg>
      </button>

      <button class="auth-mobile-btn is-hidden">

        <div  class="user-mobile-img-div">
            <img class="user-mobile-img" alt="user photo" src="/src/images/svg/sprite.svg#name_icon"/>
        </div>

        <p class="login-mobile-p">Login</p>
        
        <div  class="auth-triangle-icon-div">
            <svg class="auth-triangle-icon">
                <use href="/src/images/svg/sprite.svg#auth-triangle"></use>
            </svg>
        </div>
        
      </button>

      <nav class="mobile-navigation">

          <ul class="mobile-nav-list list">

              <li class="mobile-nav-item">
                  <a class="mobile-home-link link js-mobile-nav-homelink" href="/src/index.html" aria-label="Посилання на головну сторінку">HOME</a>
              </li>

              <li class="mobile-nav-item">
                  <a class="mobile-shopping-link link js-mobile-nav-shoppinglistlink" 
                     href="/src/shopping_list_page.html" 
                     aria-label="Посилання на сторінку Shopping List"
                  >
                      <span>SHOPPING LIST</span>

                      <svg class="mobile-shopping-bag-icon js-mobile-shopping-bag-icon" width="20" height="20">
                          <use href="/src/images/svg/sprite.svg#shopping-bag-icon"></use>
                      </svg>

                      <div class="ordered-amount-mobile-box">
                        <p class="ordered-amount-mobile"></p>
                      </div>

                  </a>
              </li>

          </ul>
      </nav>

    </div>

    <button class="logout-mobile-btn is-hidden" type="button">Log out</button>

  </div>
</div>


