    <div class="user-profile-modal profile-elm is-hidden">

        <form class="user-profile-form profile-elm">

            <button class="user-profile-closeBtn profile-elm" type="button" title="Close button">
                <svg class="icon-x profile-elm">
                    <use href="/src/images/svg/sprite.svg#x-close-icon"></use>
                </svg>
            </button>

            <div  class="user-photo-and-addbtn-div profile-elm">
                
                <div class="user-photo-div profile-elm">
                    <img class="user-photo-img profile-elm" src="/src/images/png/person_light@1x.png" alt="user-photo"/>
                </div>
                
                <div class="add-photo-btn-div profile-elm">
                    <input id="load-photo-file" class="profile-elm" name="file" type="file" accept="image/*" hidden>
                    <label class="plus-btn-label profile-elm" for="load-photo-file" role="button">
                        <svg class="plus-btn-svg profile-elm">
                            <use  class="profile-elm" href="/src/images/svg/sprite.svg#add-plus"></use>
                        </svg>
                    </label>
                </div>

            </div>

            <label class="user-profile-label profile-elm" for="profile-name">

                <div class="user-profile-inputWrap profile-elm">

                    <input
                        class="user-profile-input profile-elm"
                        type="text"
                        name="name"
                        id="profile-name"
                        placeholder="NEW NAME"
                        title="only letters, digits and symbols '. - _' are allowed."
                        pattern ="^([\w\.\-]+)(([a-zA-Z]+[0-9]*))$"
                        minlength="3"
                        maxlength="20"
                    />

                    <svg class="user-profile-icon profile-elm name">
                        <use href="/src/images/svg/sprite.svg#name_icon"></use>
                    </svg>

                </div>

            </label>

            <button class="user-profile-submitBtn profile-elm" type="submit">SAVE CHANGES</button>
            
        </form>

    </div>
