<!-- <div class="user-profile-backdrop is-hidden"> -->

    <div class="user-profile-modal is-hidden">

        <!-- close button -->
        <button class="user-profile-closeBtn" type="button" title="Close button">
            <svg class="icon-x">
                <use href="/src/images/svg/sprite.svg#x-close-icon"></use>
            </svg>
        </button>

        <img src="/src/images/png/person_light@1x.png" alt="user-photo" class="user-photo">
        
        <button class="add-photo-btn type="button">
            <svg class="plus-svg">
                <use href="/src/images/svg/sprite.svg#x-close-icon"></use>
            </svg>
        </button>

      
        <form class="user-profile-form">
            
            <label class="user-profile-label" for="name">

                <div class="user-profile-inputWrap">

                    <input
                        class="user-profile-input"
                        type="name"
                        name="name"
                        id="profile-name"
                        placeholder="NAME"
                        minlength="3"
                        maxlength="20"
                    />

                    <svg class="user-profile-icon name">
                        <use href="/src/images/svg/sprite.svg#name_icon"></use>
                    </svg>

                </div>

            </label>

            <button class="user-profile-submitBtn" type="submit">SAVE CHANGES</button>
            
        </form>

    </div>

<!-- </div> -->
