// FOOTER ------ common styles
  .footer {
    background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    padding-bottom: 16px;
    border: 1.5px solid #111111;
    border-radius: 8px 8px 0px 0px;
  }
  .footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }
  .team-name {
    font-family: 'Bauhaus 93', sans-serif;
    font-size: 18px;
    letter-spacing: -0.04em;
    white-space: nowrap; 
    color: var(--accent-color3);
  }
  .team-name-it{
    font-size: 22px;
    color: rgb(255,183,0);
  }
  .about-us-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--accent-color1);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--accent-color3);
    border: 1.5px solid #111111;
    border-radius: 26px;
    transition: var(--transition);
  }
  .about-us-btn:hover,
  .about-us-btn:focus {
    color: var(--text-dark-color);
    background: var(--accent-color3);
  }


// FOOTER ------ mobile styles
  @media screen and (max-width: 219.8px){
    .about-us-btn {
      padding: 10px 10px 10px 10px;
      font-size: 11px;
      column-gap: 5px;
    }
    .icon-arrow-right{
      width: 12px;
      height: 12px;
    }
  }
  @media screen and (min-width: 220px) and (max-width: 259.8px){
    .footer .container{
      justify-content: space-between;
    }
    .about-us-btn {
      padding: 10px 14px 10px 14px;
      font-size: 11px;
      column-gap: 10px;
    }
    .icon-arrow-right{
      width: 12px;
      height: 12px;
    }
  }
  @media screen and (min-width: 260px) {
    .about-us-btn {
      width: 184px;
      padding: 14px 14px 14px 14px;
      font-size: 14px;
    }
    .icon-arrow-right{
      width: 20px;
      height: 20px;
    }
  }
