// HEADER ------ common styles

    .header {
        position: sticky;
        z-index: 1100;
        top: 0;
        right: 0;
        border: 1.5px solid #111111;
        border-radius: 0px 0px 8px 8px;
        background-color: var(--accent-color3);
        transition: background-color var(--transition)
    }
    .header .container{
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo-and-navigation{
        display: flex;
        align-items: center;        
    }
    .navigation.is-hidden{
      display: none;
    }

    .log-div{
        width: 28px;
        height:28px;
    }
    .burger-menu-btn {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .burger-icon,
    .close-mobile-menu-icon{
        stroke: black;
    }



    .logo-link {
        display: flex;
        align-items: center;
        gap: 8px;
        letter-spacing: -0.04em;
        color: var(--logo-theme-light);
        font-weight: 600;
    }
    .switch-burger-login{

        display: flex;
        align-items: center;
    }
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }  
    .switch {
        margin-left: auto;
        position: relative;
        display: inline-block;
        height: 20px;
    }
    .switch input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-transition: var(--transition);;
        transition: var(--transition);
    }
    .slider:before {
        position: absolute;
        content: '';
        height: 18px;
        width: 18px;
        left: 1px;
        bottom: 1px;
        top: 1px;
        background-color: var(--accent-color3);
        -webkit-transition: var(--transition);
        transition: var(--transition);
    }
    input:checked+.slider,
    input:checked+.slider {
        background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .shopping-link{
        position: relative;
    }
    .shopping-bag-icon {
        fill: var(--text-dark-color);
        stroke: var(--text-dark-color);
    }
    .ordered-amount-box{
    position: absolute;
    bottom: 0;
    right: 8px;
    background-color: var(--accent-color1);
    text-align: center;
    display: none;

    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 2px;
    }
    .ordered-amount{
        color: var(--accent-color3);
        font-size: 10px;
        display: inline-flex;
    transform: translateY(-3px);
    }   
    .home-link.selected, .shopping-link.selected {
        background-color: var(--accent-color2);
        font-weight: 700;
    }
    .auth-btn{
       position: relative;
       padding: 4px 12px;
       display: flex;
       align-items: center;
       font-weight: 700;
       font-size: 18px;
       line-height: 1.27;
       border-radius: 36px;
       border: none;
       cursor: pointer;
       color: var(--text-white-color);
       background-color: var(--accent-color1);
       transition: background-color var(--transition);
       
       &:hover,
       &:focus{
        background-color: var(--accent-color1-hf);
       }
    }
    .auth-btn.is-hidden{
        display: none;
    }
    .user-img-div{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin-right: 9px;
        overflow: hidden;
        background-color: var(--accent-color3);
        --auth-icon-color: var(--auth-icon-color2);
    }
    .user-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .login-p{
        max-width: 150px;
        min-width: 88px;
        margin-right: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.32;
        white-space: nowrap;
        text-transform: capitalize;
        text-align: start;
        overflow-x: auto;
    }
    .login-p::-webkit-scrollbar{   
        width: 0.1px;
        height: 0.1px;
        background-color: transparent;
    }
    .login-p::-webkit-scrollbar-thumb {
         background-color: transparent;
    }
    .auth-triangle-icon-div{
        width: 23px;
        height: 26px;
        padding: 9px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color1);
       // --auth-icon-color: var(--accent-color1-hf);        
    }
    .auth-btn .auth-triangle-icon-div{
        transition: background-color var(--transition);
    }
    .auth-btn:hover .auth-triangle-icon-div,
    .auth-btn:focus .auth-triangle-icon-div{
        background-color: var(--accent-color1-hf);
    }
    .auth-triangle-icon{
        width: 15px;
        height: 8px;
        fill: var(--accent-color3);
        stroke: var(--accent-color3);
    }



// HEADER ------ mobile styles
    @media screen and (max-width: 189.8px){
        .header .container{
            column-gap: 15px;
        }
        .logo-link {
            font-size: 14px;
        }
    }
    @media screen and (min-width: 190px) and  (max-width: 249.8px) {
        .logo-link {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 249.8px) {
        .switch {
            width: 30px;
            height: 15px;
        }
        .slider:before {
            height: 14px;
            width: 14px;
            top: 0.5px;
        }
        .burger-logo {
            width:20px;
            height:20px;
        }
        .switch {
            width: 28px;
            margin-right: 10px;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(14px);
            -ms-transform: translateX(14px);
            transform: translateX(14px);
        }

    }
    @media screen and (min-width: 250px){
        .burger-logo {
            width:28px;
            height:28px;
        }
        .switch {
            margin-right: 14px;
            width: 40px;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }
    @media screen and (max-width: 767.8px) {
        .header {
                padding-top: 17px;
                padding-bottom: 16px;
        }
     }


// HEADER ------ tablet styles
    @media screen and (min-width: 768px) {
        .header {
            padding-top: 11px;
            padding-bottom: 10px;
        }
        .logo-and-navigation {
            column-gap: 40px;
        }
        .navigation {
            display: block;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .switch {
            margin-right: 24px;
        }
        .log-div{
            display: flex;
            align-items: center;
            min-width: 184px;
            height: 45px;
        }
        .mobile-menu {
            display: none;
        }

        .home-link {
            padding: 8px 16px;
            display: inline-flex;
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: -0.04em;
            font-weight: 500;
    
            border-radius: 36px;
            color: var(--text-dark-color);
            transition: background-color var(--transition), font-weight var(--transition);
        }
        .home-link:hover,
        .home-link:focus {
            background-color: var(--accent-color2);
            font-weight: 700;
            transition: font-weight var(--transition);
        }

        .shopping-link {
            padding: 7px 16px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 500;
    
            line-height: 1.28;
            letter-spacing: -0.04em;
            border-radius: 36px;
    
            color: var(--text-dark-color);
            transition: background-color var(--transition), font-weight var(--transition);
        }
        .shopping-link:hover,
        .shopping-link:focus {
            background: var(--accent-color2);
            font-weight: 700;
            transition: font-weight var(--transition);
        }
        .shopping-bag-icon {
            line-height: 0;
        }

        .user-login-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 90px;
            padding: 14px 14px 14px 14px;
            background: var(--accent-color1);
            cursor: pointer;
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.04em;
    
            color: var(--accent-color3);
            border: 1.5px solid #111111;
            border-radius: 36px;
            transition: background-color var(--transition);
        }
        .user-login-btn:hover,
        .user-login-btn:focus {
            background-color: var(--accent-color1-hf);
        }
        .user-login-btn.is-hidden{
            display: none;
        }
        .icon-arrow-right {
            stroke: var(--accent-color2);
        }
        .icon-user-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 9px;
            width: 37px;
            height: 37px;
            background: var(--light-theme-background);
            border-radius: 50%;
        }
        .icon-registration-triangle {
            margin-left: 4px;
        }
    }


// HEADER ------ desktop styles
    @media screen and (min-width: 1440px) {
        .logo-and-navigation {
            column-gap: 76px;
        }
        .login-p{
        max-width: 250px;
        font-size: 22px;
      }
    }