// HEADER ------ common styles
//{
    .header {
        position: sticky;
        z-index: 200;
        top: 0;
        right: 0;
        border: 1.5px solid #111111;
        border-radius: 0px 0px 8px 8px;
        background-color: var(--accent-color3);
        transition: background-color var(--transition)
    }
    .header .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo-and-navigation{
        display: flex;
        align-items: center;
    }
    .burger-logo {
        stroke: black;
    }
    .logo-link {
        display: flex;
        align-items: center;
        gap: 8px;
        letter-spacing: -0.04em;
        color: var(--logo-theme-light);
        font-weight: 600;
    }
    .switch-burger-login{
        display: flex;
        align-items: center;
    }
    .mobile-nav-list{
      display:flex;
      flex-direction: column;
      row-gap:16px;
    }
    .mobile-home-link {
        padding: 8px 16px;
        display: inline-flex;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        font-weight: 500;

        border-radius: 36px;
        color: var(--accent-color3);
        transition: background-color var(--transition), font-weight var(--transition);
    }
    .mobile-home-link:hover,
    .mobile-home-link:focus {
        background-color: var(--accent-color2);
        font-weight: 700;
        transition: font-weight var(--transition);
    }

    .mobile-shopping-link {
        //padding: 8px 16px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 500;

        line-height: 1.43;
        letter-spacing: -0.04em;
        border-radius: 36px;

        color: var(--accent-color3);
        transition: background-color var(--transition), font-weight var(--transition);
    }
    .mobile-shopping-link:hover,
    .mobile-shopping-link:focus {
        background: var(--accent-color2);
        font-weight: 700;
    }
    .mobile-shopping-bag-icon {
        fill: var(--accent-color3);
        transition: var(--transition);
    }
    .mobile-home-link.mobile-selected,
    .mobile-shopping-link.mobile-selected,
    .mobile-shopping-bag-icon.mobile-selected {
        background-color: var(--accent-color2);
        font-weight: 700;
        // margin-left: 16px;
        color: var(--text-dark-color);
        fill: var(--text-dark-color);
    }

    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .is-hidden-modal {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;        
    }

    .switch {
        margin-left: auto;
        position: relative;
        display: inline-block;
        height: 20px;
    }
    .switch input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-transition: var(--transition);;
        transition: var(--transition);
    }
    .slider:before {
        position: absolute;
        content: '';
        height: 18px;
        width: 18px;
        left: 1px;
        bottom: 1px;
        top: 1px;
        background-color: var(--accent-color3);
        -webkit-transition: var(--transition);
        transition: var(--transition);
    }
    input:checked+.slider,
    input:checked+.slider {
        background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }

    .shopping-link{
        position: relative;
    }
    .ordered-amount-box{
    position: absolute;
    bottom: 0;
    right: 8px;
    background-color: var(--accent-color1);
    text-align: center;
    display: none;

    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 2px;
    }
    .ordered-amount{
        color: var(--accent-color3);
        font-size: 10px;
        display: inline-flex;
    transform: translateY(-3px);
    }   
    .home-link.selected, .shopping-link.selected {
        background-color: var(--accent-color2);
        font-weight: 700;
       
    }
    .auth-btn{
       padding: 8px 12px;
       display: flex;
       align-items: center;
       font-weight: 700;
       font-size: 22px;
       line-height: 1.32;
       border-radius: 36px;
       border: 1.50px solid #111;
       color: var(--text-white-color);
       background-color: var(--accent-color1);

       &:hover,
       &:focus{
        background-color: var(--accent-color1-hf);
       }
    }
    .auth-btn.is-hidden{
        display: none;
    }
    .icon-user-div{
        width: 37px;
        height: 37px;
        padding: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 9px;
        background-color: var(--accent-color3);
    }
    .icon-user{
        width: 19px;
        height: 19px;
        --auth-icon-color: var(--auth-icon-color2);
    }
    .login-p{
        font-weight: 700;
        font-size: 22px;
        line-height: 1.32;
        margin-right: 4px;
    }
    .auth-triangle-icon-div{
        width: 23px;
        height: 26px;
        padding: 9px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color1);
        --auth-icon-color: var(--accent-color1-hf);
    }
    .auth-btn:hover .auth-triangle-icon-div,
    .auth-btn:focus .auth-triangle-icon-div{
        background-color: var(--accent-color1-hf);
    }
    .auth-triangle-icon{
        width: 15px;
        height: 8px;
        --auth-icon-color: var(--accent-color3);  
    }
//}


// HEADER ------ mobile styles
//{
    @media screen and (max-width: 189.8px){
        .header .container{
            column-gap: 15px;
        }
        .logo-link {
            font-size: 14px;
        }
    }
    @media screen and (min-width: 190px) and  (max-width: 249.8px) {
        .logo-link {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 249.8px) {
        .switch {
            width: 30px;
            height: 15px;
        }
        .slider:before {
            height: 14px;
            width: 14px;
            top: 0.5px;
        }
        .burger-logo {
            width:20px;
            height:20px;
        }
        .switch {
            width: 28px;
            margin-right: 10px;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(14px);
            -ms-transform: translateX(14px);
            transform: translateX(14px);
        }

    }
    @media screen and (min-width: 250px){
        .burger-logo {
            width:28px;
            height:28px;
        }
        .switch {
            margin-right: 14px;
            width: 40px;
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }
    @media screen and (max-width: 767.8px) {
    .header {
            padding-top: 17px;
            padding-bottom: 16px;
    }
    .mobile-menu-container{
      height: 100%;
    }
    .navigation {
        display: none;
    }
    .mobile-navigation {
        margin-top: 126px;
       // margin-left: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .burger-menu {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
    }
    .mobile-menu {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('../images/menu/mobile_menu_background@1x.png'),
            radial-gradient(183.6% 183.01% at 59.76% -23.42%,
                #4f2ee8 18.03%,
                #ffffff 100%);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        // transform: translateY(0%);

        transition: var(--transition);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .mobile-menu {
            background: url('../images/menu/mobile_menu_background@2x.png'),
                radial-gradient(183.6% 183.01% at 59.76% -23.42%,
                    #4f2ee8 18.03%,
                    #ffffff 100%);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
        }
    }
    .icon-close-mobile-menu,
    .icon-burger-mobile-menu {
        transition: opacity var(--transition);
    }
    .user-login {
        display: none;
    }
    .user-sign-up-mobile {
        margin-top: 84px;
        max-width: 184px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 14px 12px;
        background: var(--accent-color1);
        cursor: pointer;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;

        color: var(--accent-color3);
        border: 1.5px solid #111111;
        border-radius: 18px;

        transition: var(--transition);
    }
    .icon-arrow-right {
        stroke: var(--accent-color2);
    }
    .user-login-mobile:hover,
    .user-login-mobile:focus {
        background-color: var(--accent-color3);
        color: var(--text-dark-color);
    }
    .loged-in-wrapper {
        width: 100%;
        padding-top: 84px;
        padding-bottom: 20px;
    }
    .user-login-mobile {
        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 22px;
        line-height: 1.32;
        letter-spacing: -0.02em;
        color: var(--accent-color3);
    }
    .icon-user-wrapper-mobile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 9px;
        width: 37px;
        height: 37px;
        background: var(--light-theme-background);
        border-radius: 50%;
    }
    .nav-mobile-wrap {
        margin-left: auto;
        margin-right: auto;
        margin-top: 126px;
        max-width: 150px;
    }
    .nav-item-mobile:not(:last-child) {
        margin-bottom: 8px;
    }
    .shopping-link-mobile {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .shopping-bag-icon-mobile {
        fill: var(--accent-color3);
        transition: var(--transition);
    }
    .home-link-mobile,
    .shopping-link-mobile {
        font-family: var(--main-font), sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        padding: 7px 16px;

        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--accent-color3);
        border-radius: 36px;
        transition: var(--transition);
    }
    .shopping-link-mobile:hover,
    .home-link-mobile:hover,
    .shopping-link-mobile:focus,
    .home-link-mobile:focus {
        color: var(--text-dark-color);
        background-color: var(--light-accent-color-2);
    }
    .shopping-link-mobile:hover .shopping-bag-icon-mobile,
    .shopping-link-mobile:focus .shopping-bag-icon-mobile {
        fill: var(--text-dark-color);
    }
    .log-out-mobile {
        display: flex;
        align-items: center;
        margin-top: 382px;
        gap: 4px;
        min-width: 118px;
        padding: 12px 24px;
        background: var(--accent-color3);
        cursor: pointer;
        border: 1.5px solid #111111;
        border-radius: 18px;
        color: var(--text-dark-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;

        letter-spacing: -0.04em;

        color: var(--text-dark-color);
    }
    }
//}


// HEADER ------ tablet styles
//{
    @media screen and (min-width: 768px) {
        .header {
            padding-top: 11px;
            padding-bottom: 10px;
        }
        .logo-and-navigation {
            column-gap: 40px;
        }
        .navigation {
            display: block;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .switch {
            margin-right: 24px;
        }
        .burger-menu {
            display: none;
        }
        .mobile-menu {
            display: none;
        }

        .home-link {
            padding: 8px 16px;
            display: inline-flex;
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: -0.04em;
            font-weight: 500;
    
            border-radius: 36px;
            color: var(--text-dark-color);
            transition: background-color var(--transition), font-weight var(--transition);
        }
        .home-link:hover,
        .home-link:focus {
            background-color: var(--accent-color2);
            font-weight: 700;
            transition: font-weight var(--transition);
        }

        .shopping-link {
            padding: 7px 16px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 500;
    
            line-height: 1.28;
            letter-spacing: -0.04em;
            border-radius: 36px;
    
            color: var(--text-dark-color);
            transition: background-color var(--transition), font-weight var(--transition);
        }
        .shopping-link:hover,
        .shopping-link:focus {
            background: var(--accent-color2);
            font-weight: 700;
        }
        .shopping-bag-icon {
            line-height: 0;
        }

        .user-login {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 90px;
            padding: 14px 14px 14px 14px;
            background: var(--accent-color1);
            cursor: pointer;
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.04em;
    
            color: var(--accent-color3);
            border: 1.5px solid #111111;
            border-radius: 36px;
            transition: background-color var(--transition);
        }
        .user-login:hover,
        .user-login:focus {
            background-color: var(--accent-color1-hf);
        }
        .jsOpenBtn.is-hidden{
            display: none;
        }
        .icon-arrow-right {
            stroke: var(--accent-color2);
        }
        .icon-user-wrapper {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 9px;
            width: 37px;
            height: 37px;
            background: var(--light-theme-background);
            border-radius: 50%;
        }
        .icon-registration-triangle {
            margin-left: 4px;
        }
    }
//}


// HEADER ------ desktop styles
//{
    @media screen and (min-width: 1440px) {
        .logo-and-navigation {
            column-gap: 76px;
        }
    }
    
//}
