

.dark {
    background-color: var(--dark-body-color);
    color: var(--accent-color3);
}

body.dark {
    background-color: var(--dark-theme-background);
    color: var(--accent-color3);
}

// ---------- header -------------------------------//
//{
    body.dark .header {
        background-color: var(--text-dark-color);
        color: var(--accent-color3);
        border: 1.5px solid #ffffff;
    }

    body.dark .logo-link,
    body.dark .home-link,
    body.dark .shopping-link,
    body.dark .shopping-link .shopping-bag-icon{
        color: var(--accent-color3);
        fill: var(--accent-color3);
    //    stroke: var(--accent-color3);
    }
    body.dark .home-link:hover,
    body.dark .home-link:focus,
    body.dark .shopping-link:hover,
    body.dark .shopping-link:focus,
    body.dark .home-link.selected, 
    body.dark .shopping-link.selected,
    body.dark .shopping-link:hover .shopping-bag-icon,
    body.dark .shopping-link:focus .shopping-bag-icon,
    body.dark .shopping-link.selected .shopping-bag-icon,
    body.dark .shopping-link.mobile-selected .shopping-bag-icon{
        color: var(--text-dark-color);
        fill: var(--text-dark-color);
        stroke: var(--text-dark-color);
        stroke-width: 0.2;
    }

    body.dark .burger-menu-icon,
    body.dark .close-mobile-menu-icon{
        stroke: var(--accent-color3);
    }

//}

//----------- list_of_categories -------------------//
//{
    body.dark .category {
        color: rgba(255, 255, 255, 0.6);
    }

    body.dark .category:hover,
    body.dark .category:focus {
        color: var(--accent-color2);
    }

    body.dark .category-title,
    body.dark .book-name,
    body.dark .button-see-more {
        color: var(--accent-color3);
    }

    body.dark .title-theme-book {
        color: var(--accent-color3);
    }

    body.dark .title-book {
        color: var(--accent-color3);

    }

    body.dark .button-more {
        color: var(--text-white-color);
    }

    body.dark #category-list-title {
        color: var(--accent-color2);
    
    }

    body.dark .category-list-item{
        color: rgba(255,255,255,0.6);
    }

    body.dark .category-list-item:hover{
        color: var(--accent-color2);
        text-transform: uppercase;
    }
    body.dark .category-list-item.active{
        color: var(--accent-color2);
    }

    body.dark .category-list-box::-webkit-scrollbar{
        background-color: var(--scrollbar-dark-color);
    }

    body.dark .category-list-box::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-dark-color);
        box-shadow: inset 1px 1px 10px #797a74;
    }
//}



//----------- shopping_list ------------------------//
//{
    body.dark .shopping_list_title,
    body.dark .book-title {
        color: var(--accent-color3);
    }

    body.dark .book-description{
        color: var(--text-white-color);
    }

    body.dark #amazon-icon{
        --amazon-path1-color: var(--text-white-color);
        --amazon-path2-color: var(--text-white-color);
    }

    body.dark .pgn-btn{
        color: var(--text-white-color);
        border: 1px solid var(--text-white-color);
        --pgn-fill-color: var(--text-white-color);
    }
    body.dark .pgn-btn:hover,
    body.dark .pgn-btn:focus {
        color: var(--text-dark-color);
        background-color: var(--accent-color2);
        border: 1px solid var(--text-dark-color);
        --pgn-fill-color: var(--text-dark-color);
    }
    body.dark .pgn-btn.active {
        color: var(--text-dark-color);
        background-color: var(--text-white-color);
    }
    body.dark .pgn-btn:disabled{
        border: 1px solid var(--text-dark-color);
        background-color: var(--text-dark-color);
        --pgn-fill-color: var(--text-light-color);
    }

    body.dark .empty-shopping-box-text{
        color: rgba(255, 255, 255, 0.6);
    }
//}

//----------- loader -------------------------------//
//{
    body.dark .loader{
        --color1:var(--accent-color3);
        --color2:var(--accent-color1);
    }
//}

//----------- book modal window --------------------//
//{
    body.dark .book-modal-container{
        background-color: var(--dark-theme-background);
        border-color: var(--text-white-color);
    }
    
    body.dark .icon-x {
        stroke: var(--text-white-color);
        fill: var(--text-white-color);
    }
    body.dark .icon-x:hover,
    body.dark .icon-x:focus {
        stroke: var(--accent-color1);
        fill: var(--accent-color1);
    }

    body.dark .modal-name-book,
    body.dark .modal-description-book{
        color: var(--text-white-color);
    }
    body.dark .modal-author-book{
        color: var(--text-light-color);
    }
    body.dark .modal-message{
        color: var(--text-white-color-fifty);
    }
    
    body.dark .btn-shopping {
        background-color: var(--dark-theme-background);
        color: var(--text-white-color);
        border: 2px solid var(--accent-color1);
    }
    body.dark .btn-shopping:focus,
    body.dark .btn-shopping:hover {
        color: var(--text-white-color);
        background-color: var(--accent-color1);
    }

    body.dark .marketplacer_li_one .marketplacer_li_link{
        --amazon-icon-path1-color: var(--accent-color1);
        --amazon-icon-path2-color: var(--accent-color1);
    }
//}

// ---------- autorization_modal_window ------------//

    body.dark .modal{
        background-color: var(--dark-theme-background);
        border-color: var(--light-theme-background);
    }
    body.dark .modal .icon-x{
        fill: var(--light-theme-background);
    }

    body.dark .modalForm-inputWrap {

        .modalForm-input{
            border-color: var(--light-theme-background);
            color: var(--light-theme-background); 
    
            &::placeholder{
              color: var(--light-theme-background);
            }    
            &::selection{
              color: currentColor;
              background-color: var(--light-theme-background);
            }

        }
        .modalForm-icon.name,
        .modalForm-icon.name{
          fill : var(--light-theme-background);
        }
        .modalForm-icon.email,
        .eye-btn{
          stroke : var(--light-theme-background);
        }        

        &:hover,
        &:focus{
    
          .modalForm-input{
            border-color: var(--accent-color1);
            outline: none;
            color: var(--light-theme-background); 
    
            &::placeholder{
              color: var(--accent-color1);
            }
    
            &::selection{
              color: currentColor;
              background-color: var(--accent-color2);
            }
          }
    
          .modalForm-icon.name,
          .modalForm-icon.name{
            fill : var(--accent-color1);
          }
          .modalForm-icon.email,
          .eye-btn{
            stroke : var(--accent-color1);
          }
    
        }
      }

    body.dark input:-webkit-autofill,
    body.dark input:-webkit-autofill:hover,
    body.dark input:-webkit-autofill:focus,
    body.dark textarea:-webkit-autofill,
    body.dark textarea:-webkit-autofill:hover,
    body.dark textarea:-webkit-autofill:focus,
    body.dark select:-webkit-autofill,
    body.dark select:-webkit-autofill:hover,
    body.dark select:-webkit-autofill:focus {
     //   -webkit-text-fill-color: var(--light-theme-background);
    }

    body.dark .submitBtn{
        color:black;
        background-color: var(--light-theme-background);
        &:hover,
        &:focus {
            background-color: var(--accent-color1);
            color:var(--light-theme-background);
        }
    }
    body.dark .btn-sign-up,
    body.dark .btn-sign-in{
        color: rgba(246,246,246, 0.5);
        &:hover,
        &:focus {
          color: var(--accent-color1);
        }
        &.current {
            color: var(--accent-color1);
        }
    }



//----------- user loguot window --------------------//

    body.dark .logout-modal{
        background-color: var(--dark-theme-background);
        border-color: var(--light-theme-background);
    }
    body.dark .edit-profile-p{
        color: var(--light-theme-background);
    }
    body.dark .edit-profile-btn{
        background-color: var(--dark-theme-background);
    }
    body.dark .edit-profile-btn-svg{
        stroke: var(--light-theme-background);
    }


//----------- user profile window --------------------//

    body.dark .user-profile-modal{
        
        background-color: var(--dark-theme-background);
        border-color: var(--light-theme-background);
        
        .icon-x{
            fill: var(--light-theme-background);
        }

        .user-profile-submitBtn{
            color:black;
            background-color: var(--light-theme-background);
            &:hover,
            &:focus {
                background-color: var(--accent-color1);
                color:var(--light-theme-background);
            }
        }

        .user-profile-inputWrap {
            position: relative;
        
            .user-profile-input{
                border: 2px solid var(--light-theme-background);
                color: var(--light-theme-background);

                &::placeholder{
                    color: currentColor;
                }
            }   
            .user-profile-icon {
                fill: var(--light-theme-background);
            }
    
            &:focus,
            &:hover{
              .user-profile-input{
                outline: none;
                border-color: var(--accent-color1);
        
                &::placeholder{
                  color: var(--accent-color1); 
                }
        
                &::selection{
                  color: var(--text-dark-color);
                  background-color: var(--accent-color2);
                }
              }
              .user-profile-icon {
                fill: var(--accent-color1); 
              }
            }

        }
        

    }



