@import './common/fonts';
@import './common/vars';
@import './common/base';
@import './header';
@import './main';
@import './footer';
@import './loader';
@import './modal_windows/autorization_modal_window';
@import './modal_windows/about_us_modal_window';
@import './modal_windows/book_modal_window';
@import './isChangeTheme';


// SHOPPING LIST ------ common styles
//{
  .shopping-wrapper {
    width: 100%;
  }
  .shopping_list_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
  }
  .shopping_booklist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .book-card {
    width: 100%;
    position: relative;
    display: flex;
    border: 2px solid rgba(79, 46, 232, 0.4);
    z-index: 100;
  }
  .book-card.non-active{
    display: none;
  }
  .book-card.shift-right{
    transition: var(--transition-shift-right);
    transform : translateX(100vw);
  }
  .book-card.shift-up{
    transition: var(--transition-shift-up);
    transform : translateY(calc(-100% - 20px));
  }
  .book-image-div{
    border-radius: 8px;
    overflow: hidden;
  }

  .book-card-content-div{
    display: flex;
    flex-direction: column;
  }
  .book-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .book-author {
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: var(--text-light-color);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .book-category {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-light-color);
  }
  .book-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .bucket-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    cursor: pointer;

    background-color: var(--accent-color1);
    border: none;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--transition);
  }
  .bucket-btn:hover {
    background-color: #f42b2b;
  }
  .bucket-btn:disabled{
    background-color: var(--accent-color1);
  }
  .bucket-btn img{
    pointer-events: none;
  }

  .market_placers_list {
    position: absolute;
    display: flex;
    align-items: center;
  }

  .shopping_booklist_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .pgn-btn {
    padding: 11px 11px 11px 11px ;
    width: 38px;
    height: 38px;
    font-weight: 700;
    font-size: 18px;
    background: none;
    border: 1px solid #000000;
    border-radius: 50%;
    --pgn-fill-color: var(--logo-theme-light);
  }
  .pgn-btn:hover,
  .pgn-btn:focus {
    background-color: var(--accent-color2);
  }
  .pgn-btn.active {
    color: var(--accent-color3);
    background-color: var(--text-dark-color);
  }
  .pgn-btn:disabled{
    background-color: var(--text-dark-color);
    --pgn-fill-color: var(--text-light-color);
  }
  .pgn-btn.visually-hidden{ 
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .left-double-arrow-btn{
    margin-right: 8px;
  }
  .right-double-arrow-btn{
    margin-left: 8px;
  }
  .three-dots-btn{
    margin-left: 0px;
    margin-right: 0px;
  }
  .left-double-arrow-svg,
  .left-arrow-svg,
  .right-double-arrow-svg,
  .right-arrow-svg,
  .three-dots-svg{
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.empty-shopping_booklist{
  max-width:265px;
  height: 248px;
  padding-left: 13.5px;
  padding-right: 13.5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.empty-shopping-box-text{
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  color:  rgba(0, 0, 0, 0.6);
}
//}

// SHOPPING LIST ------ mobile styles
//{
  @media screen and (max-width: 299.8px){
    .book-card {
      flex-direction: column;
    }
    .book-image-div{
      margin-bottom: 8px;
    }
    .book-title{
      width: 100%;
      font-size: 14px;
    }
    .book-category {
      width: 100%;
    }
    .book-description {
      font-size: 13.5px;
    }
    .bucket-btn {
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (min-width: 300px) and  (max-width: 319.8px){
    .book-title{
      width: 105px;
      font-size: 13px;
    }
    .book-category {
      width: 105px;
    }
    .book-description {
      font-size: 13.5px;
    }

  }
  @media screen and (min-width: 320px) and (max-width: 359.8px){
    .book-title{
      width: 120px;
    }
    .book-category {
      width: 120px;
    }
  }
  @media screen and(max-width: 359.8px){
    .book-author{
      width: 100%;
      margin-bottom: 30px;
    }
    .book-description {
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767.9px) {
    .book-title{
      width: 144px;
    }
    .book-category {
      width: 144px;  
    }
    .book-description {
      margin-bottom: 29px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 767.9px) {
    .book-card-content-div{
      width: 193px;
    }
  }
  @media screen and (max-width: 767.8px) {
    .book-card {
      padding: 14px;
      column-gap: 14px;
    }
    .book-image-div{
      width: 100px;
      height:142px;
    }
    .book-image{
    width: 100%;
    }

    .book-category {
      margin-bottom: 8px;
    }
    .book-description {
      height: 53px;
    }
    .book-author{
      width: 120px;
    }
    .bucket-btn {
      top: 14px;
      right: 14px;
    }

    .market_placers_list {
      bottom: 14px;
      right: 14px;
      column-gap: 8px;
    }
    .marketplacer_li_one{
      width: 32px;
      height: 11px;
    }
    .marketplacer_li_two{
      width: 16px;
      height: 16px;
    }

    .left-arrow-btn{
      margin-right: 14px;
    }
    .right-arrow-btn{
      margin-left: 14px;
    }
    .pgn-btn {
      padding: 9px 9px 9px 9px ;
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
    .number-btn{
      margin-right: 5px;
    }
    .left-three-dots-btn:not(.visually-hidden){
      margin-right: 5px;
    }

  }
//}

// SHOPPING LIST ------ tablet styles
//{
  @media screen and (min-width: 768px) {
    .book-card {
      padding: 24px;
      column-gap: 24px;
    }
    .book-image-div {
      width: 116px;
      height:165px;
    }
    .book-image {
      width: 116px;
      height: 165px;
      border-radius: 8px;
    }
    .book-description {
      max-width: 508px;
      height: 53px;
      margin-bottom: 48px;
    }
    .book-category {
      margin-bottom: 14px;
    }
    .bucket-btn {
      top: 24px;
      right: 24px;
    }
    .market_placers_list {
      bottom: 24px;
      right: 24px;
      column-gap: 16px;
      align-items: center;
      justify-content: center;

    }
    .marketplacer_li_one{
      display:flex;
      width: 48px;
      height: 28px;
      align-items: center;
      justify-content: center;
    }
    .marketplacer_li_two{
      width: 28px;
      height: 28px;
      align-items: center;
      justify-content: center;
    }
    .image-market{
      width: 48px;
      height: auto;
    }


    .left-arrow-btn{
      margin-right: 24px;
    }
    .right-arrow-btn{
      margin-left: 24px;
    }
    .number-btn:first-child{
      margin-left: 10px;
    }
    .number-btn:not(:last-child):not(.visually-hidden){
      margin-right: 10px;
    }
    .left-three-dots-btn:not(.visually-hidden){
      margin-right: 10px;
    }

    .empty-shopping_booklist{
      max-width: 349px;
      height: 309px;
    }
    .empty-shopping-box-text{
      font-size: 18px;
      line-height: 133%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1439.8px){
    .book-card {
      padding: 24px;
      column-gap: 24px;
    }
  }
  @media screen and (max-width: 1439.8px){
    .support-ukraine-box{
      display: none;
    }
  }
//}

// SHOPPING LIST ------ desktop styles
//{
  @media screen and (min-width: 1024px) {
    .btn-two {
      margin-right: 8px;
    }
    .none {
      display: block;
    }
  }
  @media screen and (min-width: 1440px){
    .book-card {
      padding: 24px;
      column-gap: 24px;
    }
    .book-image-div {
      width: 100px;
      height:142px;
    }
    .book-description {
      width: 808px;
    }
    .book-image-div {
      margin-right: 24px;
    }
    .market_placers_list {
      gap: 16px;
    }
  }
//}