<header class="header">
  <div class="container">

    <div class="logo-and-navigation">
        <a class="logo-link link" href="/src/index.html" aria-label="Посилання на головну сторінку">
            <svg class="logo-icon" width="24" height="24">
                <use href="/src/images/svg/sprite.svg#logo-icon"></use>
            </svg>Bookshelf
        </a>

        <nav class="navigation">

            <ul class="nav-list list">

                <li class="nav-item">
                    <a class="home-link js-nav-homelink link" href="/src/index.html" aria-label="Посилання на головну сторінку">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="shopping-link link js-nav-shoppinglistlink" href="/src/shopping_list_page.html" aria-label="Посилання на сторінку Shopping List">
                        <span>SHOPPING LIST</span>
                        <svg class="shopping-bag-icon" width="20" height="20">
                            <use href="/src/images/svg/sprite.svg#shopping-bag-icon"></use>
                        </svg>
                    <div class="count-shopping-list"><p class="count-length"></p></div> </a>
                </li>

            </ul>

        </nav> 
    </div>
    
    <div class="switch-burger-login">
        <label class="switch">
            <input type="checkbox"  name="theme" id="theme-switch-toggle" aria-label="Переключить между тёмной и светлой темой" />
            <span class="slider round"></span>
        </label>

        <button class="burger-menu js-open-mobile-menu">
            <svg class="burger-logo">
            <use class="icon-burger-mobile-menu" href="/src/images/svg/sprite.svg#burger-menu-icon"></use>
            <use class="icon-close-mobile-menu is-hidden" href="/src/images/svg/sprite.svg#x-close-icon"></use>
            </svg>
        </button>

        <button class="user-login link jsOpenBtn">Sign up<svg class="icon-arrow-right" width="20" height="20">
            <use href="/src/images/svg/sprite.svg#arrow-narrow-right-icon"></use></svg>
        </button>
    </div>

    <!-- розмітка після логування -->
    <!-- <div class="icon-user-wrapper">
       <svg class="icon-user" width="19" height="19">
        <use href="./img/svg/sprite.svg#icon-user"></use>
       </svg>
     </div>
      Stephen
    <svg class="icon-registration-triangle" width="23" height="26">
      <use href="./img/svg/sprite.svg#icon-registration-triangle"></use>
    </svg>
    </button> -->
  </div>
</header>
