
<div class="loader loader-non-active">

  <div class="inner">

    <div class="top">
      <div class="left-top"></div>
      <div class="right-top"></div>
    </div>

    <div class="bottom">
      <div class="left-bottom"></div>
      <div class="middle"></div>
      <div class="right-bottom"></div>
    </div>

  </div>

  <p class="text">Loading...</p>
  
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
  </ul>  

</div>