// ----- Modal window ABOUT US
  .about-us-backdrop {
    position: fixed;
    z-index: 1100;
    padding: 20px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color1);
  }
  .about-us-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .about-us-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 20px 40px 20px;
    height: 80%;
    width: 335px;
    z-index: 1000;
    background-color: var(--light-theme-background);
    border-radius: 18px;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
  }
  .about-us-h2{
    margin-bottom: 10px;
    font-family: inherit; //var(--main-font), sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
  }
  .about-us-div{
    overflow-y: hidden;
    width: 100%;
    height: 100%;
  }

  .about-us-list-div{
    overflow-y: scroll;

    &::-webkit-scrollbar{   
      width: 8px;
      height: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-light-color);
      border-radius: 12em;
    }
  }
  .about-us-list{
    padding-right: 10px;
  }
  .about-us-item{
    margin-bottom: 18px;
  }
  .about-us-item-img {
    width: 287px;
    height: 287px;
    border: var(--text-dark-color);
    margin-bottom: 14px;
  }
  .about-us-item-title {
    font-family: inherit;//var(--main-font), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
    margin-bottom: 18px;
  }
  .about-us-item-text {
    font-family: inherit;//var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: var(--text-dark-color);
  }

// FOOTER ------ tablet styles
  @media screen and (min-width: 768px) {
    .about-us-modal{
      min-width: 579px;
      padding: 80px 40px 40px 40px;
    }
    .about-us-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .about-us-item-img {
      margin-right: 24px;
      margin-bottom: 0;
      width: 192px;
      height: 192px;
    }
    .about-us-item-title {
      font-size: 24px;
      line-height: calc(28 / 24);
      margin-bottom: 20px;
    }
  }