// ----- Modal window ABOUT US
  // .about-us-backdrop {
  //   position: fixed;
  //   z-index: 999;
  //   padding: 20px 20px;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: var(--accent-color1);
  // }
  .about-us-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .about-us-modal {
    overflow-y: auto;
    z-index: 1000;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 80%;
    width: 335px;
    background-color: var(--light-theme-background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 18px;

    @media screen and (min-width: 768px) {
      min-width: 579px;
      padding-top: 80px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }
  }
  .about-us-close-button {
    position: absolute;

    background-color: transparent;
    border-color: transparent;
    width: 20px;
    height: 20px;
    top: 14px;
    right: 14px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      top: 24px;
      right: 24px;
    }
  }
  .about-us-close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 14px;
    }
  }
  .about-us-item {
    margin-bottom: 18px;
  }
  .about-us-img {
    width: 287px;
    height: 287px;
    border: var(--text-dark-color);
    margin-bottom: 14px;
  }
  .about-us-title {
    font-family: var(--main-font), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);
    letter-spacing: -0.04em;

    color: var(--text-dark-color);

    margin-bottom: 18px;
  }
  .about-us-text {
    font-family: var(--main-font), sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);

    letter-spacing: -0.04em;

    color: var(--text-dark-color);
  }

// FOOTER ------ tablet styles
  @media screen and (min-width: 768px) {
    .about-us-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .about-us-img {
      margin-right: 24px;
      margin-bottom: 0;
      width: 192px;
      height: 192px;
    }
    .about-us-title {
      font-size: 24px;
      line-height: calc(28 / 24);
      margin-bottom: 20px;
    }
  }