// BOOK MODAL WINDOW ----- Common styles
//{
    .block-scroll {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
    .book-modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.4);
        z-index: 100;
        padding: 20px;
    }

    .book-modal-container {
        border: 2px solid #111111;
        border-radius: 18px;
        background-color: var(--light-theme-background);
    }
  
    .btn-modal-close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        padding: 0px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .btn-modal-close:focus,
    .btn-modal-close:hover {
        color: #4F2EE8;
    }
    .icon-x {
        display: inline-block;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }

    .image-and-content-div {
        display: flex;
    }
    .book-img-div{
        border-radius: 8px;
    }
    .book-img-modal{
        width: 100%;
        height: 100%;
    }

    .book-info {
        display: flex;
        flex-direction: column;
    }
    .modal-name-book {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.04em;
        color: #111111;
        margin-top: 14px;

    }
    .modal-author-book {

        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #B4AFAF;
        margin-top: 4px;
    }
    .modal-description-book {
        padding-right: 10px;
        max-height: 90px;
        max-width: 287px;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        color: #111111;
        margin-top: 18px;
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .market_placers_list {
        height: 36px;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    .marketplacer_li{
        height: 100%;
    }
   .marketplacer_li_link{
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .marketplacer_li_one .image-market{
        width: 48px;
        height: 19px;
    }
    .marketplacer_li_two .image-market{
        width: 32px;
        height: 32px;
    }

    .btn-box {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .btn-shopping {
        width: 100%;        
        margin-top: 40px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        border: 2px solid var(--accent-color1);
        border-radius: 40px;
        color: var(--text-dark-color);
    }
    .btn-shopping:hover {
        color: #FFFFFF;
        background: #4F2EE8;
    }
    .btn-shopping:focus {
        color: #FFFFFF;
        background: #4F2EE8;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    }

    .modal-message {
        text-align: center;
        letter-spacing: -0.04em;
        color: rgba(17, 17, 17, 0.5);
        margin-top: 8px;
    }

//}


// BOOK MODAL WINDOW ----- Mobile styles
//{
    @media screen and (max-width: 767.9px) {
        .book-modal-container {
            position: relative;
            padding: 40px 24px;
            margin-left: auto;
            margin-right: auto;
            max-width: 335px;
            width: 100%;
        }
        .image-and-content-div {
            flex-direction: column;
        }
        .book-img-div {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .modal-message {
            max-width: 242px;
            font-size: 10px;
            line-height: 1.2;
        }
        .btn-shopping {
            padding: 14px 23px;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.04em;
        }
    }  
    @media screen and (max-width: 270px) {
        .btn-shopping {
            font-size: 12px;
        }
    }
//}


// BOOK MODAL WINDOW ----- Tablet styles
//{
    @media screen and (min-width: 767.9px) {
        .book-modal-container {
            position: absolute;
            padding: 40px 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
        }
        .image-and-content-div {
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
        .book-img-div {
            width: 192px;
            height: 281px;
        }
        .modal-description-book{
            min-width: 283px;
        }
        .modal-message {
            width: 324px;
            font-size: 12px;
            line-height: 1.17;
        }
        .btn-shopping {
            padding: 20px 100px;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: -0.049em;            
        }
    }
//}