// USER PROFILE MODAL WINDOW ----- Common styles

    .logout-modal-backdrop {
        position: fixed;
        z-index: 999;
        padding: 20px 20px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .logout-modal{
        position: absolute;
        top: 75px;
        right:  calc((100vw - 768px) / 2 + 24px);
        width: 264px;
        height: 197px;
        padding: 40px;
        border: 2px solid var(--text-dark-color);
        border-radius: 18px;
        background-color: var(--light-theme-background);
        z-index: 1010;
    }

    .edit-profile-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .edit-profile-p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 22px;
        line-height: 1.318;
        letter-spacing: -0.04em;
        color: var(--text-dark-color);
    }
    .edit-profile-btn{
        display: block;
        width: 29px;
        height: 29px;
        padding: 0;
        border: none;
        background-color: var(--light-theme-background);
        cursor: pointer;
    }
    .edit-profile-btn-svg{
        width: 100%;
        height: 100%;
        --profile-edit-color: var(--text-dark-color);
    }

    .logout-btn{
        display: flex;
        width: 100%;
        padding: 12px;
        justify-content: space-between;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.04em;
        color: var(--text-dark-color);
        border: 1.50px solid var(--text-dark-color);
        border-radius: 18px;
        background: var(--text-white-color);
        transition: background-color var(--transition), color var(--transition);

        &:hover,
        &:focus{
            color: var(--text-white-color);
            background-color: var(--accent-color1);
        }
    }
    .logout-btn::after{
        width: 20px;
        height: 15px;
        content: url("/src/images/svg/arrow-right.svg");
    }


// LOGOUT MODAL WINDOW ----- Desktop styles
    @media screen and (min-width: 1440px) {
        .logout-modal{
            right: calc((100vw - 1440px) / 2 + 24px);
        }
    }