// MOBILE MENU ------ styles

    .mobile-menu {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('../images/menu/mobile_menu_background@1x.png'),
                    radial-gradient(183.6% 183.01% at 59.76% -23.42%,
                    #4f2ee8 18.03%,
                    #ffffff 100%);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        transition: var(--transition);
    }

    .mobile-menu .container{
        padding-top: 105px;
        padding-bottom: 20px;
        height: 100%;
        justify-content: space-between;
    }

    .mobile-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .burger-menu {
        background-color: transparent;
        border: none;
        line-height: 0;
        padding: 0;
    }
    .burger-logo{
        @media screen and (max-width: 249.8px) {
            width:20px;
            height:20px;
        }
        @media screen and (min-width: 250px){
                width:28px;
                height:28px;
        }

    }

    .mobile-nav-list{
      display:flex;
      flex-direction: column;
      row-gap:16px;
    }
    .mobile-home-link,
    .mobile-shopping-link {
        padding: 8px 16px;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -0.04em;
        border-radius: 36px;
        color: var(--accent-color3);
        transition: color var(--transition), background-color var(--transition), font-weight var(--transition);
    }
    .mobile-shopping-link {
        gap: 8px;
    }

    .mobile-home-link:hover,
    .mobile-home-link:focus,
    .mobile-shopping-link:hover,
    .mobile-shopping-link:focus {
        background-color: var(--accent-color2);
        font-weight: 700;
        color: var(--text-dark-color);
    }

    .mobile-shopping-bag-icon {
        --bag-color : var(--accent-color3);
        transition: stroke var(--transition);
    }

    .mobile-home-link.mobile-selected,
    .mobile-shopping-link.mobile-selected,
    .mobile-shopping-bag-icon.mobile-selected {
        background-color: var(--accent-color2);
        font-weight: 700;
        color: var(--text-dark-color);
        fill: var(--text-dark-color);
    }
    .user-login-mobile {
        width: 184px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 14px 12px;
        background: var(--accent-color1);
        cursor: pointer;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;

        color: var(--accent-color3);
        border: 1.5px solid #111111;
        border-radius: 18px;

        transition: var(--transition);

        &:hover,
        &:focus{
         background-color: var(--accent-color1-hf);
        }
    }
    .logout-btn-mobile{
        display: flex;
        width: 118px;
        height: 48px;
        padding: 14px 24px;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.286;
        letter-spacing: -0.04em;
        color: var(--text-dark-color);
        border: 1.50px solid var(--text-dark-color);
        border-radius: 18px;
        background: var(--text-white-color);
        transition: background-color var(--transition), color var(--transition);

        &:hover,
        &:focus{
            color: var(--text-white-color);
            background-color: var(--accent-color1);
        }
    }
    .logout-btn-mobile::after{
        width: 20px;
        height: 15px;
        content: url("/src/images/svg/arrow-right.svg");
    }