// USER PROFILE MODAL WINDOW ----- Common styles
//{
      .user-profile-modal{
        position: absolute;
        top: 75px;
        padding: 40px 40px;
        z-index: 1005;
        background-color: var(--light-theme-background);
        border: 2px solid var(--dark-theme-background);
        border-radius: 18px;
      }

      .user-profile-modal.is-hidden{
        opacity: 0;
        pointer-events: none;
      }

      .user-profile-form{
        display: flex;
        flex-direction: column;
      }

      .user-profile-closeBtn{
        position: absolute;
        top: 14px;
        right: 14px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border-color: transparent;
      }

      .icon-x {
        width: 100%;
        height: 100%;
        stroke: var(--text-dark-color);
      }
      .icon-x:hover,
      .icon-x:focus{
        stroke: var(--accent-color1);
      }
      

      .user-photo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        --auth-icon-color: var(--auth-icon-color2);
      }
      .user-profile-inputWrap {
        position: relative;
        --auth-icon-color: var(--auth-icon-color1); 
      }
      .user-profile-label{
        margin-bottom: 40px;
      }
      .user-profile-input {
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid var(--text-dark-color);
        background-color: transparent;
        border-radius: 40px;
        color: var(--text-dark-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      .user-profile-input:focus,
      .user-profile-input:hover {
        outline: none;
        border-color: var(--accent-color1);
        color: var(--text-dark-color); 
        --auth-icon-color: var(--auth-icon-color2);
      }

      .user-profile-input:focus+.user-profile-icon,
      .user-profile-input:hover+.user-profile-icon{
        outline: none;
        border-color: var(--accent-color1);
        color: var(--text-dark-color); 
        --auth-icon-color: var(--auth-icon-color2);
      }

      .user-profile-input::selection{
        color: currentColor;
        background-color: var(--accent-color2);
      }
      .user-profile-input::placeholder {
        color: currentColor;
      }

      .user-profile-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px; 
      }
      .user-profile-submitBtn{
        display: block;
        width: 100%;
        padding: 16px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.33;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        white-space: nowrap;
        color: var(--logo-theme-dark);
        background-color: var(--dark-theme-background);
        border: none;
        border-radius: 40px;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
        &:hover,
        &:focus {
          background-color: var(--accent-color1);
        }
      }
 

//}


// USER PROFILE MODAL WINDOW ----- Mobile styles
//{
      @media screen and (max-width: 767.8px) {
        .user-profile-modal {
          max-width: 375px;
          right: calc(50% - 200px);
        }
        .user-profile-closeBtn {
          width: 20px;
          height: 20px;
        }
        .user-profile-input {
          padding: 16px 40px 16px 24px;
          font-size: 16px;
          line-height: 1.33;
          letter-spacing: -0.01em;
        }  
        .user-profile-input::placeholder {
          font-size: 16px;
        }
        .user-profile-icon {
          right: 24px;
        }
        .user-profile-icon.name {
          width:  13px;
          height: 18px;
        }
        .user-profile-submitBtn {
          padding: 20px 87.5px;
          font-size: 16px;
        }
      }
      @media screen and (max-width: 270px) {
        .user-profile-input {
          padding: 14px 35px 14px 16px; 
          font-size: 12px;
        } 
        .user-profile-input::placeholder {
          font-size: 11px;
        }
        .user-profile-icon {
          right: 16px;
        }
      }
      
//}


// USER PROFILE MODAL WINDOW ----- Tablet styles
//{  
      @media screen and (min-width: 768px) {

        .user-profile-icon.name {
          width: 19px;
          height: 19px;
        }
        .user-profile-modal {
          max-width: 479px;
          right: calc(50% - 300px);
        }
        .user-profile-closeBtn {
          width: 28px;
          height: 28px;
        }
        .user-profile-input {
            padding: 20px 70px 20px 40px;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: -0.01em;
        }
        .user-profile-input::placeholder {
            font-size: 18px;
        }
        .user-profile-icon {
          right: 34px;
        }
        .user-profile-icon.name {
          width: 19px;
          height: 19px;
        }
        .user-profile-submitBtn {
          padding: 20px 132px;
          font-size: 18px;
       }
      }
//}


// USER PROFILE MODAL WINDOW ----- Desktop styles
//{  
      @media screen and (min-width: 1440px) {
        .user-profile-modal {
          right: calc(50% - 660px);
        }
      }
//}
