:root {
   
    --logo-theme-light: #000000;
    --logo-theme-dark: #F3F3F3;
    
    --dark-theme-background:#202024;
    --light-theme-background:#F6F6F6; 
    --light-theme-fifty:rgba(17, 17, 17, 0.5);


    --text-dark-color: #111111;
    --text-light-color: #B4AFAF;
    --text-white-color: #ffffff;
    --text-white-color-thirty:rgba(255, 255, 255, 0.3);
    --text-white-color-fifty:rgba(255, 255, 255, 0.5);
    --text-white-color-seventy:rgba(255, 255, 255, 0.7);

    --accent-color1: #4F2EE8;
    --accent-color1-hf: #37209d;
    --accent-color2: #EAC645;
    --accent-color3: #FFFFFF;
    --accent-color4-hf: #a1a1a1;

    --auth-icon-color1: var(--text-dark-color);
    --auth-icon-color2: var(--accent-color1);
    --auth-icon-color3: var(--text-white-color);

    --amazon-path1-color: #909090;
    --amazon-path2-color: var(--text-dark-color);;

    --scrollbar-light-color: #E0E0E0;
    --scrollbar-dark-color: #1f1d1d;

    --add-photo-btn-bgcolor: #888888;
    --add-photo-btn-bgcolor-hover: #6A6A6A;
    --add-photo-btn-color: #F3F3F3;
    

    --main-font: 'DM Sans';

    --transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); 
    --transition2: 300ms cubic-bezier(0.4, 0, 0.2, 1); 
    --transition-shift-right: transform 600ms linear;
    --transition-shift-up: transform 600ms linear;
    }
